body{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    display: block;   
    text-align: justify;    
}

#list{
    width: 500px;
    display: block;    
} 

div.menu{
    font-size: 18px;
    background-color: rgb(0, 238, 255);        
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    font-style: italic;
    text-align: justify;
    
}

h1{
    color: green;
    font-weight: bold;
    text-align: center;

}

h2{
    color: red;
    text-align: center;

}

p{
    
     
}

ul{
    display: block;
    width: 500px;
}
div{
    display: block;
    width: 600px;
}

table{        
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    margin: auto;
    
}
th,td{
    border-width: 2px;
    border-style: solid;    
}


a:hover, a:active{
    background-color: red;
}

.icon-bar {
    width: 100%; /* Full-width */    
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar li{
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */    
    color: black; /* White text color */    
    list-style: none;
    cursor: pointer;
  }

  .icon-bar li:hover, .icon-bar li:active{
    background-color: greenyellow;
}

div.myObject{
    text-align: center;
    height: 600px;
    width: 500px;
    background: rgb(225, 255, 205);
    display: block;
    float: right;
    font-size: 20px;
}