body {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    display: block;   
    text-align: justify;
    
    
}

#list{
    width: 500px;
    display: block;
   
    
}

div.class{
    font-size: 18px;
    background-color: rgb(0, 238, 255);        
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    font-style: italic;
    text-align: justify;
    
}

h1{
    color: green;
    font-weight: bold;
    text-align: center;

}

h2{
    color: red;
    text-align: center;

}

p{
    border: 1px solid powderblue;
     
}

ul{
    display: block;
    width: 500px;
}
div{
    display: block;
    width: 600px;
}

table{        
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    margin: auto;
    
}
th,td{
    border-width: 2px;
    border-style: solid;    
}

